<% provide(:title,"Sign Up") %>

<h1>Sign Up</h1>


<div class="container">
    <%= form_with model:@user,url:register_path,method: :post,data:{turbo:false} do |f| %>
        <%= render "layouts/form_error",:form => f %>
        <div class="mb-3">
            <%= f.label :name%>
            <%= f.text_field :name,:class => "form-control"%>
        </div>
        <div class="mb-3">
            <%= f.label :email %>
            <%= f.email_field :email,:class => "form-control" %>
        </div>
        <div class="mb-3">
           <%= f.label :password %>
           <%= f.password_field :password,:class => "form-control" %>
        </div>
        
       <div class="mb-3">
            <%= f.label :password_confirmation,"Confirmation" %>
            <%= f.password_field :password_confirmation,:class => "form-control" %>
        </div>
        <div class="mb-3">
           <%= f.submit "Create my account", class:"btn btn-primary"%>
        </div>
        
        
    <% end %>
</div>


