<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
<h1 class="mb-4">Microposts</h1>
<div class="container">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
         <%= image_tag("minion.jpg",alt:"Minion",:class=>'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title">A Street in Europe</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, assumenda, dicta rerum eius 
          ipsam vero consequuntur sunt nisi alias vitae tempore! Itaque, repellendus? Iure eligendi suscipit, 
          vero blanditiis possimus nostrum!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
         <%= image_tag("minion2.jpg",alt:"Minion",:class=>'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title">A Street in Europe</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, assumenda, dicta rerum eius 
          ipsam vero consequuntur sunt nisi alias vitae tempore! Itaque, repellendus? Iure eligendi suscipit, 
          vero blanditiis possimus nostrum!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4  ">
      <div class="card">
        <%= image_tag("minion3.jpg",alt:"Minion",:class=>'card-img-top')%>
        
        <div class="card-body">
          <h5 class="card-title">A Street in Europe</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, assumenda, dicta rerum eius 
          ipsam vero consequuntur sunt nisi alias vitae tempore! Itaque, repellendus? Iure eligendi suscipit, 
          vero blanditiis possimus nostrum!</p>
        </div>
      </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <%= image_tag("minion3.jpg",alt:"Minion",:class=>'card-img-top')%>
        
        <div class="card-body">
          <h5 class="card-title">A Street in Europe</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, assumenda, dicta rerum eius 
          ipsam vero consequuntur sunt nisi alias vitae tempore! Itaque, repellendus? Iure eligendi suscipit, 
          vero blanditiis possimus nostrum!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
         <%= image_tag("minion.jpg",alt:"Minion",:class=>'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title">A Street in Europe</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, assumenda, dicta rerum eius 
          ipsam vero consequuntur sunt nisi alias vitae tempore! Itaque, repellendus? Iure eligendi suscipit, 
          vero blanditiis possimus nostrum!</p>
        </div>
      </div>
   </div>
</div>