<h1>Users</h1>

<table class="table">
    <tr>
        <th scope="col">Id</th> 
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        
    </tr>
    
 <% @users.each do |user| %>
  <tr>
    <td scope="row"><%=user.id%></td>
    <td scope="row"><%= user.name%></td>
    <td scope="row"><%= user.email%></td>
    <td scope="row">
        <%= link_to "Show",user_path(user),{:class => 'btn btn-primary'}%>
        <%= link_to "Edit",edit_path(user),{:class => 'btn btn-secondary'}%>
        <%= link_to 'Destroy', user_delete_path(user), method: :delete, :class => 'btn btn-success' %>
    </td>
  </tr>
  <% end %>
</table>
<% if not @users.exists? %>
<h2 class="text-center">Data not found</h2>
<% end %>
<br><br>
<p><%= link_to 'New User',new_path,{:class => 'btn btn-success'}%></p><br>
<p><%= link_to 'Go to Micropost',microposts_path,{:class => 'btn btn-info'}%></p>
