
<%= form_for @micropost, url: set_up,data: { turbo: true } do |f|%>
    <%= render "layouts/form_error",:form =>f %>
    <p>
        <%= f.label :title%><br>
        <%= f.text_field :title ,class:"form-control"%>
    </p>
    <p>
        <%= f.label :content%><br>
        <%= f.text_area :content ,class:"form-control"%>
    </p>
    <p>

       <p id="num-of-files">No Files Chosen</p>
        <%= f.file_field :images,multiple:true,accept:'image/*',id:"file-input",onchange:"preview()"%><br><br>
        <div id="images"></div>
    </p>
    <p>
        <input type="hidden" name="micropost[user_id]" value="<%= session[:user_id] %>"]>
    </p>

    <p>
        <%= f.submit({:class => 'btn btn-primary'})%>
    </p>
<%end%>

<%= javascript_include_tag("preview.js") %>