<% provide(:title,"Micropost") %>
<h1>Microposts</h1>
<table class="table">
    <tr>
        <th scope="col">Content</th>
        <th scope="col">Image</th>
        <th scope="col">Username</th>
        <th scope="col">Action</th>
    </tr>
  
 <% @microposts.each do |micropost| %>
  <tr>
    <td scope="row"><%=link_to micropost.content,profile_path(micropost.user_id),:class =>"nav-link"%></td>
    <% if micropost.image.content_type.in?(%w[image/jpeg image/png]) %>
      <% if micropost.image.attached? %>
          <td><%= link_to image_tag(micropost.image_as_thumbnail),micropost.image_as_thumbnail %></td><br><br>
      <% end %>
      <% else %>
        <td><%= link_to image_tag("no.jpg",alt:"No Logo",width:"300px"),image_url('no.jpg') %></td> <br><br>
    <% end %>
    <td scope="row"><%= micropost.user.name%></td>
    <td scope="row">
        <%= link_to "Show",micropost_path(micropost),:class => "btn btn-primary"%>
        <% if Current.user.id == micropost.user_id %>
          <%= link_to "Edit",edit_micropost_path(micropost),:class => "btn btn-secondary"%>
          <%= link_to 'Destroy',micropost_delete_path(micropost), method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" ,:class => "btn btn-danger" %>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% if not @microposts.exists? %>
<h2 class="text-center">Data not found</h2>
<% end %>
<br><br>

<% if @users != 0%>
<%= link_to "New Micropost",micropost_new_post_path, :class => "btn btn-success"%><br><br>
<%end%>
