<% provide(:title,"View Micropost") %>
<h1>Title: <%= @micropost.title %></h1>
<p><strong>Content</strong>: <%= @micropost.content %></p>
 <% if @micropost.image.content_type.in?(%w[image/jpeg image/png]) %>
      <% if @micropost.image.attached? %>
          <%= link_to image_tag(@micropost.image_as_thumbnail),@micropost.image_as_thumbnail %><br><br>
      <% end %>
      <% else %>
        <%= link_to image_tag("no.jpg",alt:"No Logo",width:"300px"),image_url('no.jpg') %> <br><br>
    <% end %>
<% if Current.user.id == @micropost.user_id %>
<%= link_to "Edit",edit_micropost_path,:class =>"btn btn-success"%> | 
<% end %>

<%= link_to "Back",microposts_path,:class =>"btn btn-danger"%>